---
import { getCollection } from 'astro:content';
const blogs = await getCollection('blogs');
---

<ul>
  {blogs.map((blog) => (
    <li key={blog.slug} class="mb-8">
      <a href={`/blogs/${blog.slug}`} class="text-3xl font-semibold text-green-500 hover:underline">
        {blog.data.title}
      </a>
      <p class="text-gray-400 mt-2">{blog.data.description}</p>
      <small class="text-gray-500">{new Date(blog.data.date).toDateString()}</small>
    </li>
  ))}
</ul>
