---
import { getCollection } from 'astro:content';
const projects = await getCollection('projects');
---

<ul>
  {projects.map((project) => (
    <li key={project.slug} class="mb-8">
      <a href={`/projects/${project.slug}`} class="text-3xl font-semibold text-green-500 hover:underline">
        {project.data.title}
      </a>
      <p class="text-gray-400 mt-2">{project.data.description}</p>
      <small class="text-gray-500">{new Date(project.data.date).toDateString()}</small>
    </li>
  ))}
</ul>
