---
import Layout from '../layouts/Layout.astro';
import ProjectPosts from '../components/sections/ProjectPosts.astro';
---

<Layout title="Projects - Rajesh D'Souza">
  <div class="max-w-6xl mx-auto px-6 py-20">
    <h1 class="text-5xl font-bold mb-6">Projects</h1>
    <p class="text-gray-400 text-xl mb-12 max-w-3xl">
      This section showcases my journey in learning coding and automation. You'll find various projects ranging from simple 
      scripts to full-stack applications, demonstrating my progress in using different tools and technologies to solve 
      real-world problems.
    </p>

    <ProjectPosts />
  </div>
</Layout>